/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 17, 2024, 8:18:18 PM
    Author     : user
*/

header{
    justify-content: center;
    justify-items: center;
    justify-self: auto;     
    
    margin: auto;
    background: #003f62;
}

.nav-bar{
    padding: 0px 65px;
    background: #f4f4f4;
    align-self: stretch;
    justify-content: space-between;
    gap: 98px;
    
}

.nav-wrapper{
    justify-content: space-between;
}

.wrapper{
    justify-items: center; 
    justify-self: center;
    gap: 20px;
}

.top-header{
    padding: 22px 65px;
    justify-content: space-between;
    
    justify-items: center; 
    justify-self: center;
}


.search-box{
    border-radius: 20px;
    color:#292d32;
    
    width: 438px;
    border: none;
    padding:17.5px 25px;
}

.search-box:focus{
    outline:none;
}

.search-button{
    margin-left: -132px;
    border: none;
    padding: 17.5px 41px ;
    color: white;   
    border-radius: 20px;
    align-content: center;
    align-items: center;
    align-self: center;
    display:flex;
    background: #eda415;
    width: 132px;
    height: 56px;
    font-weight: 600;
}

.right-header{
    color: white;
    justify-content: space-between;
    gap: 29px;
    align-items: center;
}

.user-icon, .cart-icon{
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.nav-left{
    justify-content: space-between;
    gap:98px;
    
}

.categories{
    color:white;
    padding: 14.5px 23px;
    background: #eda415;
    justify-content: space-between;
    gap:16px;
    justify-items: center;
    align-items: center;
    font-weight: 500;
}

.nav{
    justify-content: space-between;
    gap:29px;
    align-items: center;
}

.nav-right{
    padding:23.5px 0px;
    justify-content: space-between;
    gap: 327px;
}
.return{
    color: #003f62;
    font-weight: bold;
    
}
