
body{
    margin: 0;

}

.center-bar{
    width:90%;
    margin-left: 5%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:black; 
    text-decoration:none; 
    cursor:pointer;  
}

.promoClass{
    font-family: samsungBold;
    height: 300px;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.promoBanner{
    justify-content: space-between;
}

#bannerText{
    padding-right: 150px;
}

.promoTitle{
    font-size:50px;
    text-align: center;
    margin-bottom: 30px;
    color: #1B5A7D;
}

.buttonDiv{
    justify-content: space-between;
    gap: 30px;
    padding-left: 150px;
    padding-right: 150px; 
    padding-bottom: 20px;
}

#promoImage{
    width: auto;
    height: 300px;
}

#buyDiv, #viewDiv{
    padding-left: 10px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.leftbutton, .rightbutton {
  display: inline-block;
  cursor: pointer;
  position:absolute;
  bottom: 40%;
  padding: 30px;
  background-color: #1F2833;
  width: auto;
  color: #C5C6C7;
  font: 30px bold;
  border-radius: 20px 20px 20px 20px;
  transform: scale(1.0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #EDA315;
    
}

#catContainer{
    padding-bottom: 50px;
}

#catTitle{
    font-family: samsungBold;
    font-size: 30px;
    margin: auto;
    padding-left: 0;
    
}

.catSlider {
  max-width: 80%;
  width: 95%;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover {
  background: #404040;
}
.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapper .slide-button#next-slide {
  right: -25px;
}
.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
  transition: all 300ms ease-in-out;
}
.catSlider .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

.image-item:hover{
    box-shadow: 0px 8px 10px;
}

.popProdTitle{
    justify-content: space-between;
    padding-left: 65px;
    padding-right:65px;
}

/*Product Container*/
.bigProdContainer{
    
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 150px;
}

.popProdContainer{
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 20px 20px 20px 20px;
    transform: scale(1.0);
    transition-duration: 0.3s;
    transition-property: transform;
    overflow: hidden;
    
}


.prodDisplayImg{
    padding: 10px;
    width: 280px;
    height: 280px;
}



.buttonContainer{
    width: 100%;
    height: 100%;
    top: 0;
    right:0;
    position: absolute;
    content: '\A';
    background:rgba(0,0,0,0.6);
    border-radius: 15px 15px 15px 15px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity: 0;
  
}


.popProdContainer:hover .buttonContainer{
    opacity:1;
}

/*Button CSS*/

.button{
    font-family: samsungBold;
    font-size:15px;
    text-align: center;
    
    display: inline-block;
    cursor: pointer;

    height: 60px;
    width: 120px;
    border-radius: 20px 20px 20px 20px;
    transform: scale(1.0);
    transition-duration: 0.3s;
    transition-property: transform;
    
}

.buyButton{
    border: none;
    background-color: #EDA315;
    color: white;
}

.viewButton{
    border-color: #306887;
    border-style: solid;
    background-color: white;
    color: #306887;
}

.prodBuyButton, .prodViewButton{
    position:absolute;
}

.prodBuyButton{
    right: 20px;
}

.prodViewButton{
    left: 20px; 
}

.button:hover{
    transform: scale(1.05);
    transition-duration: 0.3s;
    transition-property: transform;
}