/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 17, 2024, 8:18:10 PM
    Author     : user
*/

@font-face{
  font-family: samsungBold;
  src: url(../fonts/samsungsharpsans-bold.woff);
}

@font-face{
  font-family: samsungSharp;
  src: url(../fonts/samsungsharpsans.woff);
}

html{
    font-family: samsungBold;    
}
body{
    margin: 0;
    padding: 0;
    font-family: samsungBold;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-col{
    display:flex;
    flex-direction: column;
}

.page-width{
    width: 1300px;
    margin: auto;   
}

.content-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
hr {
    border: none; 
    height: 1px; 
    background-color: #9D9D9D;
    margin: 25px 0; 
}

.main-btn{
    font-family: samsungBold;
    text-align: center;     
    border-radius: 33px;
    background:#EDA415;
    color: white;
    padding: 19.5px 50px;
    cursor: pointer;
    border: none;
}
    


