/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 22, 2024, 9:12:26 PM
    Author     : user
*/

/*service section*/


.service-section{
   justify-content: center;
   gap: 88px;
   padding: 140px 0;
}

.service-container{
    gap:24px;
}

.service-text{
    gap:8px;
}

.service-title{
    font-size: 20px;
    font-weight: 600;
}

.service-desc{
    font-size: 14px;
    font-weight: 400;
}
/*sales section*/
.sales-section{
   justify-content: center;
   gap: 30px;
   padding: 140px 0;
}

.sales-container{
    flex-grow: 1;
    padding : 30px 50px;
    border:1px solid rgba(0,0,0,30);  
    color: black;
    background: transparent;
    gap:24px;
}

.sales-container-unique{
    padding : 30px 50px;
    border:1px solid rgba(0,0,0,30);  
    color: white;
    background: #EDA415;   
    gap:24px;
}

.sales-text{
    gap:8px;
}

.sales-title{
    font-size: 32px;
    font-weight: 700;
}

.sales-desc{
    font-size: 16px;
    font-weight: 400;   
}

/*story section*/

.story-section{
    justify-content: space-between;
    padding-top: 100px;
    gap:75px;
}

.sec-1-left{
    gap:40px;
    width: 40%;
}

.story-title{
    font-size: 54px;
    font-weight: 600;   
}

.story-desc{
    gap:24px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400; 
    font-family: samsungSharp;
}

/*position section*/
.pos-container{
    justify-content:space-between;
}

.pos{
    gap:32px;
}

.pos-text{
    gap:8px;
}

.pos-name{
    font-size: 32px;
    font-weight: 500;
}

.pos-title{
    font-size: 16px;
    font-weight: 400;
}