/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 18, 2024, 7:43:42 AM
    Author     : user
*/

footer{
    justify-content: center;
    justify-items: center;
    justify-self: auto;    
    background: #e2f4ff;
    padding:42px 65px;
    gap:41px;
}

.top-footer{
   
    justify-content: space-between;
    gap:137px;
    background: white;
    border-radius: 20px;
    padding: 38px 93px;

}

.top-footer-left{
    font-size: 30px;
    color: #1b5a7d;
    font-weight: 700;
}

.email{
    justify-content: space-between;
    border-radius: 20px;
    background:#EDA415;
    
    width: 438px;
    border: none;
    padding:17.5px 25px;
}

.email-button{
    align-items: center;
    border:none;
    background:transparent;
    cursor: pointer;
}

.email-box, .email-box::first-line{
    border: none;
    background:transparent;
    color:white;
}

.email-box:focus{
    outline:none;
}
.top-footer-right{
    justify-content: space-between;
    gap: 88px;
}

.call-text{
    color:#606060;
    font-weight: 600;
    font-size: 14px;
    padding-top: 5px;
}

.call{
    justify-content: space-between;
    gap: 20px;
}

.bot-footer{
    width: 100%;
    justify-content: space-between;
 
}

.media{
    justify-content: space-between;
    justify-items: center; 
    justify-self: center;
    gap: 37px;
}
.bot-right-footer{
    justify-content: space-between;
    
    gap: 227px;
}

.list-title{
    font-weight: 600;
    font-size: 20px;
    color:#1B5A7D;
}
.footer-list{
    color:#1B5A7D;
    font-size: 20px;
}

.footer-logo{
    margin-bottom: 42px;
}

.footer-address{
    color:#1B5A7D;
    font-size: 16px;
}