/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 20, 2024, 1:57:31 PM
    Author     : user
*/

.payment-top{
    gap:16px;
    padding: 35px 0;
    font-size:  32px;
    font-weight: 500;
    color: #464646;
}


.payment-bot{
    gap:40px;
    padding: 20px 0 50px;
}

.address-container, .card-info{
    display: grid;
    grid-column: 2;
    grid-row: 3;
}

.long-container{
    gap:16px;
    padding-right: 31px;
    color: #1b5a7d;
    grid-column: span 2;
}

.grid-container{
    gap:16px;
    padding-right: 31px;
    padding-top: 24px;
    color: #1b5a7d;
}

input,select{
    border-radius: 8px;
    padding: 16px;
    border: none;
    background:#f1f1f1;
}
.exp-container{
    gap:10px;
}

input.grid-container{
   background:#f1f1f1;
}

input.exp::-webkit-outer-spin-button,
input.exp::-webkit-inner-spin-button ,
input#ccn::-webkit-outer-spin-button,
input#ccn::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payment-left{
    width:60%;
}

.payment-right{
    color: #1b5a7d;
    justify-content: space-between;
    width: 40%;
    border-radius: 8px;
    border: solid 1px #d9d9d9;
    padding: 35px;
}

.cash-container{
    justify-content: space-between;
    
}

.ship-option{
    gap:16px;
}
