/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 20, 2024, 8:38:55 PM
    Author     : user
*/

.success-top{
    gap:16px;
    font-size:  32px;
    font-weight: 500;
    color: #464646;
}

.success-body{
    padding: 40px 0;
}