<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AboutUsRedirectServlet</servlet-name>
        <servlet-class>controller.AboutUsRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeRedirectServlet</servlet-name>
        <servlet-class>controller.HomeRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>processRecords</servlet-name>
        <servlet-class>controller.processRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductRedirectServlet</servlet-name>
        <servlet-class>controller.ProductRedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUsRedirectServlet</servlet-name>
        <url-pattern>/about-us</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeRedirectServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>processRecords</servlet-name>
        <url-pattern>/processRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductRedirectServlet</servlet-name>
        <url-pattern>/product/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
